pyttsx3==2.90
SpeechRecognition
colorama
pyaudio

wikipedia
webbrowser
pywhatkit
MyAlarm
ecapture
pyjokes
speedtest-cli
pywikihow
PyAutoGUI
poetpy
forex-python
beautifulsoup4
wolframalpha
quote
winshell
geopy
geocoder
PyPDF2